@charset "UTF-8";

/* Versao para todas as midias */

/* TYPICAL DEVICE BREAKPOINTS, TYPES:
-------------------------------------
    PEQUENAS TELAS: até 600px
    CELULAR: de 600px até 768px 
    TABLET: de 768px até 992px
    DESKTOP: de 992px até 1020px
    
*/

@media print { /*IMPRESSAO*/
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#tv {display: none;}
    img#pc {display: none;}

}
    
@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLET*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#tv {display: none;}
    img#pc {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*DESKTOP*/
    body {
        background-image: url(../imagens/back-pc.jpg);

    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#tv {display: block;}
    img#pc {display: none;}
}

@media screen and (min-width: 1200px) { /*GRANDES TELAS*/
    body {
        background-image: url(../imagens/back-tv.jpg);

    }

    main {
        width: 800px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#tv {display: block;}
    img#pc {display: none;}
}
   